<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let formField of formFields" style="margin:1em 0">
    <label class="col-form-label form-label">{{formField.fieldName}} &nbsp;</label>
    <input  class=" mb-10" type="{{formField.fieldType}}" 
    value="{{formField.fieldName}}"
    [required]="formField.required"
    formControlName="{{formField.fieldName}}"/>
    <br>
  </div> 
  <button class="btn btn-dark" type="submit" [disabled]="this.form.invalid">Submit</button>

</form>